/* VARIABLES */
/* PARTIALS */
.containerOne {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.containerDos {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  height: 500px;
  justify-content: space-evenly;
}

/* UTILIZADO EN: index.html; bio.html */
.containerThree {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: 1400px;
  align-items: center;
}

.containerFour {
  display: flex;
  height: 150px;
  margin-top: 20px;
  width: 100%;
  justify-content: space-evenly;
}

.containerFive {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

/* Used in: Index.html; */
.containerSix {
  text-align: left;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Used in: Index.html; */
.containerSeven {
  display: flex;
  background-color: rgb(1, 1, 1);
  margin-left: 60px;
  height: 500px;
  gap: 80px;
  align-content: center;
}

/* Used in: Index.html; */
.containerEight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.containerNine {
  height: 350px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.containerEleven {
  height: 50px;
  width: 100%;
  text-align: center;
}

/* Used in: Index.html; bio.html */
.containerTwelve {
  display: flex;
  flex-direction: row;
}

.containerThirdteen {
  margin: 20px 100px;
}

.containerFourteen {
  align-self: center;
  margin-top: 10px;
  margin-right: 10px;
}

.containerFifthteen {
  height: 10px;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.containerSixteen {
  width: 30%;
  height: 20px;
  display: flex;
}

.containerSeventeen {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: 750px;
  align-items: center;
}

.containerEighteen {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: 1700px;
  align-items: center;
}

.containerNineteen {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: 800px;
  align-items: center;
}

/* Used in: bio.html; */
.containerTwenty {
  width: 100%;
  height: auto;
  margin: auto;
  word-spacing: 5px;
}

/*Used in: Setlists.html; */
.containerTwentyOne {
  width: 400px;
  /* I am doing this in pixels and not in % as it would then affect the flex-wrap: wrap function on the mediaqueries. I need an absolute value here. Else, I would have had to create clases for each one of the boxes*/
  height: 250px;
  border: 2px solid red;
}

.containerTwentyTwo {
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
  height: 700px;
  align-items: center;
}

.containerTwentyThree {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.containerTwentyFour {
  height: 500px;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.containerTwentyFive {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: start;
}

.containerTwentySix {
  text-align: center;
  margin-top: 5px;
}

.containerTwentySeven {
  display: flex;
  justify-content: center;
}

/* Used in: bio.html; */
.containerTwentyEight {
  margin: 20px 40px;
}

/*FONT TYPES */
.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gayathri-thin {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.gayathri-regular {
  font-family: "Gayathri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cagliostro-regular {
  font-family: "Cagliostro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-robo {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Used in: Index.html; bio.html; */
.fontOne {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  color: rgb(253, 160, 0);
}

/* Used in: bio.html; */
.fontTwo {
  font-family: "Roboto Slab", serif;
  color: rgba(253, 160, 0, 0.8);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

/* UTILIZADO EN: index.html; bio.html */
.fontThree {
  font-family: "Roboto Slab", serif;
  color: rgb(253, 160, 0);
  font-size: 0.8em;
}

.fontFour {
  color: #FF0080;
  text-decoration: none;
}

.fontFive {
  font-size: 1.5em;
  text-align: center;
}

/* UTILIZADO EN: index.html; bio.html */
.fontSix {
  font-family: "Roboto Slab", serif;
  color: rgb(253, 160, 0);
  font-size: 1.2em;
  font-weight: 500;
}

.fontSeven {
  font-family: "Roboto Slab", serif;
  color: rgb(253, 160, 0);
  font-size: 0.8em;
  font-weight: 500;
}

.fontEight {
  font-family: "Roboto Slab", serif;
  color: rgb(232, 228, 220);
  font-size: 1.2em;
  font-weight: 500;
}

/*USED IN: bio.html; */
.fontNine {
  font-family: "Roboto Slab", serif;
  color: rgba(232, 228, 220, 0.9);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTen {
  font-family: "Roboto Slab", serif;
  color: rgba(232, 228, 220, 0.9);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontEleven {
  font-family: "Roboto Slab", serif;
  color: rgb(232, 228, 220);
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.fontTwelve {
  font-family: "Roboto Slab", serif;
  color: rgb(232, 228, 220);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.fontThirdteen {
  font-family: "Roboto Slab", serif;
  color: rgb(253, 160, 0);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

/* FONTS FOR TESTING


.fontTestOne {
  font-family: "Roboto Slab", serif;
  color: rgba(253, 160, 0, 1);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestTwo {
  font-family: "Roboto Slab", serif;
  color: rgba(253, 160, 0, 0.8);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestThree {
  font-family: "Roboto Slab", serif;
  color: rgba(253, 160, 0, 0.6);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestFour {
  font-family: "Roboto Slab", serif;
  color: rgba(253, 160, 0, 0.4);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestFive {
  font-family: "Roboto Slab", serif;
  color: rgba(253, 160, 0, 0.2);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestSix {
  font-family: "Roboto Slab", serif;
  color: rgba(232, 228, 220, 0.9);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestSeven {
  font-family: "Roboto Slab", serif;
  color: rgba(232, 228, 220, 0.7);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
}

.fontTestEight {
  font-family: "Roboto Slab", serif;
  color: rgba(232, 228, 220, 1);
  font-size: 1.2em;
  font-weight: 500;
}*/
/* USED IN: Index.html */
.imageOne {
  border-radius: 20px;
  width: 100%;
  max-width: 650px;
  height: auto;
  max-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
}

/* UTILIZADO EN: bio.html;  */
.imageTwo {
  border-radius: 20px;
  width: 450px;
  height: 650px;
  float: right;
  margin: 20px 20px;
}

.imageThree {
  width: 305px;
  height: 250px;
}

.imageFour {
  width: 100%;
  height: 450px;
}

.imageFive {
  width: 40%;
  margin: 40px 0px;
}

nav {
  height: 50px;
  width: 100%;
  background-color: rgb(1, 1, 1);
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbarOne {
  height: 50px;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

/* UTILIZADO EN: index.html; bio.html */
.navbarTwo {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-family: "Fjalla One";
}

/* UTILIZADO EN: index.html; bio.html */
.navbarThree {
  height: 50px;
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

/* UTILIZADO EN: index.html; bio.html */
.navbarFour {
  height: 50px;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

/* UTILIZADO EN: contacto.html / */
.navbarFive {
  height: 50px;
  width: 95%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(1, 1, 1);
}

hr {
  border: 2px solid rgb(253, 160, 0);
}

li > a {
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(253, 160, 0);
  text-decoration-color: transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 6px;
}

.linkOne {
  text-align: center;
  border-bottom: 3px solid transparent;
  padding-bottom: 6px;
}

.linkOne:hover {
  text-decoration-color: rgb(253, 160, 0);
  border-bottom: 3px solid rgb(253, 160, 0);
  color: rgb(253, 160, 0);
  padding-bottom: 6px;
}

section {
  width: 50%;
  height: 400px;
}

footer {
  display: flex;
  flex-direction: column;
}

div > a {
  text-decoration: none;
}

/* >>>>> MEDIA QUERY FOR SCREENS ON TABLETS. MAXIMUM OF 1080 px and MINIMUM OF 768PX */
@media (max-width: 1080px) and (min-width: 768px) {
  /*USED IN INDEX.html*/
  .containerSeven {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px;
  }
  .containerSix {
    order: 2;
    width: 60%;
    margin-bottom: 40px;
  }
  .containerEight {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    width: 100%;
  }
  .containerTwentyEight {
    margin: 20px 40px;
  }
  .imageOne {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 550px;
    max-height: 325px;
  }
  /* USED IN BIO.HTML */
  .imageTwo {
    border-radius: 20px;
    max-width: 400px;
    width: 400px;
    max-height: 575px;
    height: 575px;
    float: right;
    margin: 20px 20px;
  }
  /* USED IN SETLIST.HTML"*/
  .containerOne {
    flex-wrap: wrap;
    margin: 60px 0px;
    height: auto;
  }
}
/* >>>>> MEDIA QUERY FOR SCREENS ON BIG MOBILES. MAXIMUM OF 767 px and MINIMUM OF 550PX */
@media (max-width: 767px) and (min-width: 550px) {
  /*USED IN INDEX.HTML */
  .containerSeven {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px;
  }
  .containerSix {
    order: 2;
    width: 60%;
    margin-bottom: 40px;
  }
  .containerEight {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    width: 100%;
  }
  .containerTwentyEight {
    margin: 20px 40px;
  }
  .fontOne {
    font-size: 2em;
  }
  .imageOne {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 450px;
    max-height: 275px;
  }
  /* USED IN BIO.HTML */
  .imageTwo {
    border-radius: 20px;
    max-width: 330px;
    width: 330px;
    max-height: 505px;
    height: 505px;
    float: right;
    margin: 20px 20px;
  }
  /* USED IN SETLIST.HTML"*/
  .containerOne {
    flex-wrap: wrap;
    margin: 60px 0px;
    height: auto;
  }
}
/* >>>>> MEDIA QUERY FOR SCREENS ON SMALL MOBILEs. MAXIMUM OF 549 px and MINIMUM OF 350PX */
@media (max-width: 549px) {
  /*USED IN INDEX.HTML */
  .containerSeven {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px;
  }
  .containerSix {
    order: 2;
    width: 60%;
    margin-bottom: 40px;
  }
  .containerEight {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    width: 100%;
  }
  .containerTwentyEight {
    margin: 20px 40px;
  }
  .fontOne {
    font-size: 1.8em;
  }
  .imageOne {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 325px;
    max-height: 200px;
  }
  /* USED IN BIO.HTML */
  .imageTwo {
    display: none;
  }
  /* USED IN SETLIST.HTML"*/
  .containerOne {
    flex-wrap: wrap;
    margin: 60px 0px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
