/* Utilizado en Instrumental.html | cocktail.html | latinspanish.html | ceremony.html */

.containerFive .navbarOne a {
    color: rgba(253, 160, 0, 0.5);
    text-decoration: none;
    transition: all 0.5s ease;
  }
  
  .containerFive .navbarOne a:hover {
    color: rgba(253, 160, 0, 1);
  }
  