.containerOne {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.containerDos {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 40%;
    height: 500px;
    justify-content: space-evenly;
}

/* USED IN: index.html; bio.html */
.containerThree {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 1400px;
    align-items: center;
}


/* USED IN: original.html; */
.containerFour {
    display: flex;
    height: auto;
    margin: 20px 20px;
    justify-content: space-evenly;
}

.containerFive {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

/* USED IN: Index.html; */
.containerSix {
    text-align: left;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Used in: Index.html; */
.containerSeven {
    display: flex;
    background-color: rgba(1, 1, 1, 1);
    margin-left: 60px;
    height: 500px;
    gap: 80px;
    align-content: center;
}

/* Used in: Index.html; */
.containerEight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}


/* USED IN: original.html; */
.containerNine {
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* USED IN: original.html; */
.containerTen {
    margin: 10px 25px;
}

/* USED IN:  <footer> Index.html; bio.html */
.containerEleven {
    height: 50px;
    width: 100%;
    text-align: center;
}

/* USED IN:  <footer> Index.html; bio.html */
.containerTwelve {
    display: flex;
    flex-direction: row;
    height:auto;
}

.containerThirdteen {
    margin: 20px 100px;
}


/* USED IN: original.html; */
.containerFourteen {
    display: flex;
    justify-content: center;
}

.containerFifthteen {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerSixteen {
    width: 30%;
    height: 80px;
    display: flex;
}

/* USED IN: latinspanish.html; ceremony.html;  */
.containerSeventeen {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: auto;
    align-items: center;
}

/* USED IN: cocktail.html */
.containerEighteen {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: auto;
    align-items: center;
}

/*USED IN: Instrumental.html*/
.containerNineteen {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: auto;
    align-items: center;
}

/* Used in: bio.html; */
.containerTwenty {
    width: 100%;
    height: auto;
    margin: auto;
    word-spacing: 5px;
}

/*USED IN: Setlists.html;*/
.containerTwentyOne {
    width: 400px;
    /* I am doing this in pixels and not in % as it would then affect the flex-wrap: wrap function on the mediaqueries. I need an absolute value here. Else, I would have had to create clases for each one of the boxes*/
    height: 250px;
    border: 2px solid red;
}

.containerTwentyTwo {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
    height: 700px;
    align-items: center;
}

.containerTwentyThree {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.containerTwentyFour {
    height: 500px;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.containerTwentyFive {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: start;
}

.containerTwentySix {
    text-align: center;
    margin-top: 5px;
}

/*USED IN: <footer> */
.containerTwentySeven {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

/* Used in: bio.html; */
.containerTwentyEight {
    margin: 20px 40px;
}

/*USED IN: <footer> index.html; discografia.html; */
.containerTwentyNine {
    width: auto;
    height: auto;

}

/*USED IN: <footer> index.html; */
.containerThirty {
    height: 50px; 
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
}