
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gayathri-thin {
    font-family: "Gayathri", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .gayathri-regular {
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gayathri-bold {
    font-family: "Gayathri", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cagliostro-regular {
    font-family: "Cagliostro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .fontOne {
    font-family: "Gayathri", sans-serif;
    font-size: 50px;
    color: rgba(253,160,0,1);
}

.fontTwo {
    font-family: "Cagliostro";
    color: rgba(253,160,0,0.8);
}

.fontThree {
    font-family: "Cagliostro";
    color: rgba(253,160,0,1);
    font-size: 0.8em;
}

.fontFour {
    color: #FF0080; 
    text-decoration: none;
}

.fontFive {
    font-size: 1.5em;
    text-align: center;
}