


/* FOOTER GENERAL */
.footer {
    
    background-color: #111;
    color: #fdd835;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.95rem;
    border-top: 2px solid #4b3900; /* opcional para efecto fino */
    font-family: 'Poppins', sans-serif;
}

/* Enlaces generales */
.footer a {
    color: #fdd835;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ffffff;
}

/* Social icons */
.footer-social-icons a {
    margin-left: 1rem;
}

.footer-social-icons i {
    font-size: 1.4rem;
    color: #fdd835;
    transition: color 0.3s ease;
}

.footer-social-icons i:hover {
    color: #ffffff;
}

