* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(1,1,1,1);
}

hr {
    border: 2px solid rgba(253,160,0,1);
    margin: 0;
}

li > a {
    margin-right: 10px;
    margin-left: 10px;
    color: rgba(253,160,0,1); 
    text-decoration-color: transparent;
    border-bottom: 3px solid transparent;
    padding-bottom: 6px;
}

.linkOne {
    text-align: center;
    border: 3px solid  transparent;
    padding: 4px;
}

.linkOne:hover {
    text-decoration-color: rgba(253,160,0,1);
    border: 3px solid  rgba(253,160,0,1);
    border-radius: 5px;
    color: rgba(253,160,0,1);
    padding-bottom: 4px;
    background-color: rgba(177, 136, 66, 0.807) ;
}


section {
    width: 50%;
    height: 400px;
}

footer {
    display: flex;
    flex-direction: column;
}

div > a {
    text-decoration: none;
}