/* HERO */
.hero {
    background-image: url('/images/hernan.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #fff;
}

.hero-title {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: #fdd835;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #f59745;
    color: white;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: #d87c00;
}

/* LOGO EN EL HERO */ 

.hero-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    width: 80px; /* Podés ajustar el tamaño */
}

.hero-logo img {
    width: 100%;
    height: auto;
    display: block;
    color: #fdd835;
}
