.imageOne { 
    border-radius: 20px;
    width: 450px;
    height: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageTwo { 
    border-radius: 20px;
    width: 450px;
    height: 350px;
    float:right;
    margin: 20px 20px;
}

