/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease;
    z-index: 999;
}

.navbar.visible {
    opacity: 1;
    transform: translateY(0);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: #fdd835;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffffff;
}
