/* SECCIONES */
.section {
    min-height: 100vh;
    padding: 5rem 2rem;
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
}





/* SECCION > ORIGINAL */

.original {
    background-color: #121212;
    color: #fff;
    padding: 4rem 1.5rem;
}

.original-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.original h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fdd835;
}

.original-intro {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #ccc;
}



/* SECCION > Discografia */

.disc-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center; 
    padding: 2rem 0;
}

.album {
    flex: 1 1 48%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.tracklist {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 300px;
}

.tracklist li {
    color: #fff;
    margin: 0.5rem 0;
    font-family: var(--font-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracklist i {
    color: #fda000;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.album .btn-setlist {
    margin-top: 1rem;
    text-align: center;
}






/* Grid de Canciones */
.songs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
}

/* Tarjeta de canción */
.song-card {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 1rem 1.2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: transform 0.3s ease;
}

.song-card:hover {
    transform: translateY(-5px);
}

.song-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fdd835;
    margin-bottom: 0.3rem;
}

.song-artist {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 0.8rem;
}

/* Ícono de Play */
.song-card a i {
    font-size: 1.2rem;
    color: #fdd835;
    transition: color 0.3s ease;
}

.song-card a:hover i {
    color: #ffffff;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-play {
    font-size: 1.4rem;
    color: inherit;
    flex-shrink: 0;                   /* evita que se mueva */
}

/* FILTROS SETLISTS */

.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.filters input {
    padding: 0.7rem 1rem;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    min-width: 250px;
}

.filters input::placeholder {
    color: #aaa;
}
