/* SECCION > SETLISTS */

.setlists {
    background-color: #fff;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.setlists-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.setlists h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1c1c1c;
    font-size: clamp(28px, 3vw, 42px);
    line-height: 1.05;
}

.setlists-intro {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #1c1c1c;
}

.setlists-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    color: #1c1c1c;
}

.setlists-buttons a {
    color: black;
}

.btn-setlist {
    background-color: transparent;
    border: 2px solid #1c1c1c;
    padding: 0.6rem 1.2rem;
    color: #1c1c1c;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    line-height: 1.2;
}

.setlists-buttons .btn-setlist-general {
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    border: 2px solid #1c1c1c;
    color: #1c1c1c;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.btn-setlist:hover {
    background-color: #fdd835;
    color: #121212;
    border-color:#fdd835 ;
}

.setlists-buttons .btn-setlist.active {
    background-color: #121212;   /* Amarillo de tu sitio */
    color: #fdd835;              /* Texto oscuro */
    border: 2px solid #fdd835;
}


/* SECCION > Setlists Página Individual */

.setlists-section {
    padding: 6rem 2rem 3rem;
    background-color: #181818;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setlists-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fdd835;
}

.setlists-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.setlists-buttons .btn-setlist {
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    border: 2px solid #fdd835;
    color: #fdd835;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.setlists-buttons .btn-setlist:hover {
    background-color: #fdd835;
    color: #181818;
}