//main.scss

@import 'hero';
@import 'navbar';
@import 'secciones';
@import 'sec_agenda';
@import 'sec_setlist';
@import 'sec_original';
@import 'carrusel';
@import 'footer';
@import 'queries';
@import 'general';

